<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>

<body>
  Bienveni3
  <div>
    Breaking Bad 
    <%= seasonsbb %>
  </div>
  <div>
    Better Call Saul
    <%= seasonsbcs %>
  </div>
</body>

</html>